<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/style.css">
<html>
    <head>
        <title>DoncoN profile</title>
        <link rel="shortcut icon" href="../static/DoncoN.png" type="image/png">
        <br>
        <br>
        <h1>Nam Dmitrij</h1>
        <br>
    </head>
    <body>
        <div class="education">
            <h2>Education</h2>
            <p>Saint Petersburg State University of Aerospace Instrumentation, Bachelor's degree, 2019 - 2023</p>
            <ul>
                <li>Graduated with average academic performance score 4.4;</li>
                <li>10.03.01, Information security;</li>
                <li>Received a certificate of registration for the program developed for the FQW;</li>
                <li>Studied subjects such as programming, networks protection, number theory, coding theory, networks and data transmission systems, cryptography, and so on;</li>
            </ul>
            <p>Saint-Petersburg National Research University of Information Technologies, Mechanics and Optics, 2023 - 2025</p>
            <ul>
                <li>10.04.01, Information security;</li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <div class="experience">
            <h2>Experience</h2>
            <p class="date">October 2022 - August 2023</p>
            <p>System Engineering Specialist, LLC "Gazpromneft Digital Solutions"</p>
            <p class="date">September 2023 - Until now</p>
            <p>System Engineering Specialist, LLC "Gazpromneft Information Technology Operator"</p>
            <p>Responsibilities</p>
            <ul>
                <li>IIoT systems configuration;</li>
                <li>Configuring specialized programs for IIoT;</li>
                <li>Linux configuration;</li>
                <li>Containerization with Docker;</li>
                <li>Network configuration for the IIoT laboratory;</li>
                <li>Virtual machine administration;</li>
            </ul>
            <br>
            <p>During his work, he participated or was a key technical specialist in various projects and R&D,</p>
            <p>worked at industrial facilities in Omsk and Megion</p>
            <p>Key technical specialist in</p>
            <ul>
                <li>LoRa network for monitoring thermal satellites at the ONPZ;</li>
                <li>Multiservice network with various IoT protocols;</li>
            </ul>
            <p>Participated in</p>
            <ul>
                <li>Creating digital counterparts of physical stands;</li>
                <li>Industrial cyber gateway for converting wired protocols to wireless;</li>
            </ul>
        </div>
        <br>
        <br>
        <div class="skills">
            <h2>Skills</h2>
            <p>Computer skills</p>
            <ul>
                <li>Basic Python, Java, JS and Bash programming skills;</li>
                <li>Familiarity with virtualization technologies such as Docker and VMware;</li>
                <li>Familiarity with network security and encryption protocols;</li>
                <li>Intermediate Linux administration skills;</li>
            </ul>
            <br>
            <p>Foreign languages</p>
            <ul>
                <li>C2 English;</li>
                <li>N5 Japanese;</li>
            </ul>
        </div>
        <br>
        <br>
    </body>
</html>