<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/login-style.css">
<html lang="en">
    <head>
        <title>Nam Dmitrij profile</title>
        <link rel="shortcut icon" href="../static/DoncoN.png" type="image/png">
    </head>
<body>
<div class="login">
	<h1>Login</h1>
    <form method=POST action="{{ url_for('login') }}">
    	<input type="text" name="u" placeholder="username" required="required" />
        <input type="password" name="p" placeholder="pass" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in!!!</button>
    </form>
</div>
</body>
</html>